<div class="col-xs-12">
    <h1>TODO-лист <span class="name">{{id}}</span></h1>
</div>
<div class="col-xs-{{(12 / (columns.length + 1))}}" ng-repeat="column in columns" >
    <h2>{{column.title}}</h2>
    <div ng-repeat="task in tasks | filter: {status: column.status}"
         task="task"
         on-update="taskUpdate"
         on-remove="taskRemove"
         action-text="{{column.action}}"
         action-class="{{column.actionClass}}"
    >
    </div>
</div>

<div class="col-xs-{{(12 / (columns.length + 1))}}">
    <h2>Новая задача</h2>
</div>
